* {
	font-family: "Microsoft YaHei";
}

.navbar-brand { 
	font-size: 24px;
	text-shadow: 1px 1px 1px #aaaaaa;
}

.navbar-brand span {
	background: rgb(45,150,187);
	color: #ffffff;
	border-radius: 0.2em;
	padding: 0px 5px;
	margin-right: 3px;
	vertical-align: 2px;
	box-shadow: 1px 1px 1px #aaaaaa;
}

#myCarousel {
	margin-top: 51px;
	overflow: hidden;
}

#myCarousel canvas {
	position: absolute;
	left: 50%;
	margin-left: -450px;
	box-sizing: content-box;
}

#myDocument {
	margin-top: 51px;
	overflow: hidden;
}
#myDocument .lead {
	color: #666;
	font-size: 18px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

#myDemo {
	margin-top: 51px;
	overflow: hidden;
}

#my3Demo {
	margin-top: 51px;
	overflow: hidden;
}