.upload {
	position: absolute;
	right: 100px;
	width: 300px;
	height: 600px;
	background: rgba(0,0,0,0.2);
	border: 1px solid black;
}
.upload>div {
	width: 300px;
	height: 160px;
	margin-top:20px;
	background: #dddddd;
	border: 1px solid black;
}
.download {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 800px;
	height: 500px;
	background: rgba(0,0,0,0.2);
	border: 1px solid black;
}
.json {
	position: absolute;
	left: 320px;
	top: 10px;
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,0.2);
	border: 1px solid black;
	display: none;
}
.input {
	position: absolute;
	left: 640px;
	top: 10px;
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,0.2);
	border: 1px solid black;
	display: none;
}
.svg {
	position: absolute;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
}