extend home

block title
    title CartoonJS

block content
    div(class="content-demo")
        iframe(width="100%" height="580px" src="/examples/demo.html")
        iframe(width="100%" height="580px" src="/examples/three.html")

block script
    script.

