doctype html
html
    head
        block title
        link(rel='stylesheet', href='/static/home/css/normalize.css')
        link(rel='stylesheet', href='/static/home/css/home.css')
        block style
    body
        div(class="header")
            div(class="header-inner")
                div(class="header-logo")
                    span CartoonJS
                div(class="header-nav")
                    -function matchurl(view, pageview, name) {
                        -if (view === pageview) {
                            a(href="#" class="header-nav-index") #{name}
                        -} else {
                            a(href="#{view}") #{name}
                        -}
                    -}
                    ul
                        li
                            -matchurl('index', pageview, '首页')
                        li
                            -matchurl('docs', pageview, '文档')
                        li
                            -matchurl('demo', pageview, '实例')
                        li
                            -matchurl('editor', pageview, '编辑器')
                        li
                            -matchurl('product', pageview, '产品库')
        div(class="content")
            block content
        script(src='/static/libs/jquery/jquery-1.11.1.min.js')
        script(src='/static/libs/require/require.min.js')
        block script