extends home

block title
    title Cartoonjs Document

block content
    div(class="container-fluid")
        div(class="row-fluid")
            div(class="col-md-3")
                div(class="affix panel col-md-3" id="accordion")
                    div(class="panel panel-default")
                        div(class="panel-heading")
                            div(class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-description")
                                strong 基础文档
                        div(id="collapse-description" class="panel-collapse  collapse in")
                            div(class="panel-body")
                                div(id="toc" style="height: auto;")
                                    ul
                                        li 
                                            a(href="#简介") 简介
                                        li
                                            a(href="#结构设计") 结构设计
                                        li
                                            a(href="#API设计") API设计
                                        li
                                            a(href="#名词解析") 名词解析
                                        li
                                            a(href="#模块化引入") 模块化引入
                                        li
                                            a(href="#初始化") 初始化
                                        li
                                            a(href="#base-class") 核心
                                        ul
                                            li
                                                a(href="#base-class") Class
                                            li
                                                a(href="#base-ticker") Ticker
                                            li
                                                a(href="#base-dispatcher") EventDispatcher
                                            li
                                                a(href="#base-preload") Preload
                                            li
                                                a(href="#base-matrix") Matrix2D
                                            li
                                                a(href="#base-display") DisplayObject
                                        li 
                                            a(href="#base-dom") 容器
                                        ul
                                            li
                                                a(href="#base-dom") Container
                                                a(href="#base-canvas") Canvas
                                                a(href="#base-webgl") GLCanvas
                                        li 
                                            a(href="#base-dom") 绘图
                                        ul
                                            li
                                                a(href="#base-dom") Shape
                                                a(href="#base-bitmap") Bitmap
                                                a(href="#base-text") Text
                                        li 
                                            a(href="#base-tween") 动画
                                        ul
                                            li
                                                a(href="#base-tween") Tween
                                            li
                                                a(href="#base-timeline") Timeline
                                            li
                                                a(href="#base-movement") Movement
                                            li
                                                a(href="#base-sprite") Sprite
                                            li
                                                a(href="#base-particle") ParticleSystem
                                            li
                                                a(href="#base-skeletal") SkeletalAnimation
                                        li
                                            a(href="#base-physics") 物理
                                        ul
                                            li
                                                a(href="#base-physics") PhysicsWorld
                                        li
                                            a(href="#base-obj3d") 3D
                                        ul
                                            li
                                                a(href="#base-obj3d") Object3D
                div(class="panel panel-default")
                    div(class="panel-heading")
                        div(class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-config")
                            strong 参考引用
                    div(id="collapse-config" class="panel-collapse collapse" style="height: 0px;")
                        div(class="panel-body")
                            div(id="config" style="height: auto;")                      
block script
    script(src="/static/js/home_doc_conf.js")
    script(src="/static/js/home_doc.js")




            
                  