doctype html
html
  head
    block title
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/carousel.css')
    link(rel='stylesheet', href='/static/css/home.css')
  body
    div(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand" href="#").
                    <span>C</span>artoonJS
            a(href="http://gitlab.baidu.com/chenrui09/cartoonjs" target="_blank")
                img(id="fork-image" style="position: absolute; top: 0px; right: 0px; border: 0px; z-index: 1000; width: 149px;" src="/static/img/fork.png" alt="Fork me on GitLab")
            div(class="navbar-collapse collapse" id="nav-wrap")
                ul(class="nav navbar-nav navbar-right" id="nav" style="max-width: 100%; margin-right: 45.5px;")
                    -function match(pageurl, flag, name) {
                        -if (pageurl === flag) {
                            li(class="active")
                                a(href="#") #{name}
                        -} else {
                            li(class="")
                                a(href="#{flag}.html") #{name}
                        -}
                    -}
                    -match(pageurl, 'index', '首页')
                    -match(pageurl, 'doc', '文档')
                    -match(pageurl, 'demo', '示例')
                    li(class="dropdown")
                        a(href="#" class="dropdown-toggle" data-toggle="dropdown").
                            下载<b class="caret"></b>
                        ul(class="dropdown-menu")
                            li
                                a(href="../build/cartoon.js") cartoon.js
                                a(href="../build/cartoon.filters.js") cartoon.filters.js
                                a(href="../build/cartoon.particles.js") cartoon.particles.js
                                a(href="../build/cartoon.box2d.js") cartoon.box2d.js
                                a(href="../build/cartoon.three.js") cartoon.three.js
                            li(class="divider")
                            li
                                a(href="doc/changelog.html") 更新日志

    block content
    script(src='/static/js/lib/jquery-1.11.1.min.js')
    script(src='/static/js/lib/bootstrap.min.js')
    script(src='/static/js/lib/require.min.js')
    script(src='/static/js/requireConf.js')
    block script
