extends home

block title
    title WebFX

block content
    div(class="slide")
        div(class="slide-inner")
            ul
                li 1
                li 2
                li 3
        div(class="slide-contrl-left")
        div(class="slide-contrl-right")
        div(class="slide-contrl-bottom")
    div(class="content")
        div(class="content-left")
            div(class="content-left-products")
                -for(var i=0; i<9; i++) {
                    div(class="products-item")    
                -}
        div(class="content-right")

//
    div(id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false")
        ol(class="carousel-indicators")
            li(data-target="#myCarousel" data-slide-to="0" class="active")
            li(data-target="#myCarousel" data-slide-to="1" class="")
        div(class="carousel-inner")
            div(class="item active")
                canvas(id="cvs_0" width="900" height="400")
                div(class="container")
                    div(class="carousel-caption" style="bottom:0;left:25%")
                        p 构建高性能WEB动画
                        p 引导产品设计，提升页面表现力
                        p 基础技术积累，提高迭代效率
            div(class="item")
                canvas(id="cvs_1" width="900" height="400")
        a(class="left carousel-control" href="#myCarousel" data-slide="prev")
            span(class="glyphicon glyphicon-chevron-left")
        a(class="right carousel-control" href="#myCarousel" data-slide="next")
            span(class="glyphicon glyphicon-chevron-right")
    div(class="container marketing")
        h1(class="text-center" style="margin-bottom:30px;") 我们致力于
        div(class="row")
            div(class="col-lg-4")
                img(class="col-lg-12" src="/static/img/feature1.png" alt="绘图" style="margin-bottom:20px")
                h2 完善的绘图支持
                p(class="text-left")    我们提供基于html5 canvas的多种绘图支持，包括多种基础图形（矩形，圆，椭圆，多边形，线段，等多边形），还包括多种图像功能（位图绘制，滤镜操作，混色处理等），通过扩展，我们还能够支持3D图形的绘制。
            div(class="col-lg-4")
                img(class="col-lg-12" src="/static/img/feature2.png" alt="动画" style="margin-bottom:20px")
                h2 丰富的动画功能
                p(class="text-left")    我们支持dom和canvas渲染模式，支持多种动画方式，包括补间动画，时间轴动画，帧动画，骨骼动画，粒子动画，轨迹运动动画等多样式的动画支持，基于事件模型能够快速构建完善的动画系统和交互功能。
            div(class="col-lg-4")
                img(class="col-lg-12" src="/static/img/feature3.png" alt="扩展" style="margin-bottom:20px")
                h2 多种扩展的实现
                p(class="text-left")    我们提供基于物理引擎box2dweb和3d引擎threejs的扩展，通过扩展可以快速创造物理世界和三维世界，也可以实现趣味性的游戏和多维交互体验。
            p(class="pull-right")
                a(href="demo.html" target="_blank") 更多 » 

block script
    script(src="/static/home/js/index.js")
