doctype html
html
    head
        title Cartoonjs Player
        meta(name="viewport" content="width=device-width,user-scalable=no,target-densitydpi=high-dpi")
        link(rel='stylesheet' href='/static/home/css/normalize.css')
    body
        script(src='/static/libs/jquery/jquery-1.11.1.min.js')
        script(src='/static/libs/jquery/jquery.query.min.js')
        script(src='/static/libs/require/require.min.js')
        script(src='/static/home/js/player.js')
            