link(rel='stylesheet', href='/static/home/css/sprite.css')
// sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++
div(class="container")
    div(class="upload")
       div(id="common" ondragover="onDrag(event)" ondrop="onDrop(event)")
            span 普通上传
    div(class="download" style="display:none")
        svg(class="svg" width="800" height="500")
            path(fill="none" stroke="rgb(0,114,253)" stroke-width="1" d="M0 250.5L800 250.5M400.5 0 L400.5 500")
    div(class="json")
        span
    div(class="input")
        input(type="number" id="translateX" value="0")
        input(type="number" id="translateY" value="0")
script(src="/static/libs/require/require.min.js")
script(src="/static/home/js/sprite.js")